@keyframes gradientFill {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.text-gradient-animation {
  background-image: linear-gradient(to right, from-purple-400, to-pink-600);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientFill 3s linear infinite;
  background-size: 200% 100%;
  display: inline-block; /* Ensures proper sizing and spacing */
}
